<% provide(:title, "Vorgänger-Nachfolger-Beziehungen") %>

<h1>Aktualisierung der Voränger-Nachfolger-Beziehung</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @event_job_job_association %> |
<%= link_to 'Zurück', event_job_job_associations_path %>
