<% if logged_in? %>
    <% provide(:title, "Vorgänger-Nachfolger-Beziehungen") %>

    <h1>Neue Vorgänger-Nachfolger-Beziehung</h1>

    <%= render 'form' %>

    <%= link_to 'Zurück', event_job_job_associations_path %>
<% end %>