<% provide(:title, "Eventvorgänge mit Perioden") %>

<h1>Aktualisierung der Event-Vorgang-Perioden-Zuordnung</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @event_job_period_association %> |
<%= link_to 'Zurück', event_job_period_associations_path %>
