<% provide(:title, "Eventvorgänge mit Perioden") %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_job_period_association.event.name%>
</p>

<p>
  <strong>Vorgang:</strong>
  <%= @event_job_period_association.job.name %>
</p>

<p>
  <strong>Periode:</strong>
  <%= @event_job_period_association.period.time %>
</p>

<p>
  <strong>Job end:</strong>
  <%= @event_job_period_association.job_end %>
</p>

<%= link_to 'Ändern', edit_event_job_period_association_path(@event_job_period_association) %> |
<%= link_to 'Zurück', event_job_period_associations_path %>
