<% provide(:title, "Impressum") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | EvenTraum</title>
</head>
<body>
<h1>Impressum</h1>
<h2>EvenTraum</h2>
<p>c/o Leibniz Universität Hannover<br>
  Institut für Produktionswirtschaft<br>
  Königsworther Platz 1<br>
  D-30167 Hannover<br><br>
  Vertretungsberichtsberechtigter Vorstand:<br>
  Xelat Akcam<br>
  Hayat Boulakhrif<br>
  Nadia Kruszewski</p><br>
<h2>Disclaimer (Haftungsausschluss)</h2>
<h2>1. Inhalt des Onlineangebotes</h2>
<p>Als Betreiber von Eventraum und inhaltlich Verantwortlicher dieser Website übernimmt die Eventraum GmbH, nachfolgend EVENTRAUM genannt, keinerlei Gewähr für Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen das EVENTRAUM, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des EVENTRAUM kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.
  Alle Angebote sind freibleibend und unverbindlich. Das EVENTRAUM behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>
<h2>2. Verweise und Links</h2>
<p>Bei direkten oder indirekten Verweisen auf fremde Internetseiten ("Links"), die außerhalb des Verantwortungsbereiches des EVENTRAUMs liegen,
  besteht keine Haftungsverpflichtung. Das EVENTRAUM erklärt hiermit ausdrücklich,
  dass zum Zeitpunkt der Linksetzung keine illegalen oder moralisch verwerflichen Inhalte auf den zu verlinkenden Seiten erkennbar waren.
  Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der gelinkten/verknüpften Seiten hat das EVENTRAUM
  keinerlei Einfluss.
  Deshalb distanziert sich das EVENTRAUM hiermit ausdrücklich von allen Inhalten aller gelinkten/verknüpften Seiten,
  die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links
  und Verweise sowie für Fremdeinträge innerhalb des Gästebuchs. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere
  für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite,
  auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.</p>
<h2>3. Datenschutz</h2>
<p>Innerhalb des Internetangebotes besteht die Möglichkeit zur Eingabe persönlicher Daten (Emailadressen, Namen, Anschriften etc.),
  wobei die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis erfolgt.
  Der Nutzer erklärt sich automatisch zur Speicherung und Verarbeitung dieser Informationen bereit,
  welche vom EVENTRAUM nicht an Dritte weitergegeben und diskret behandelt werden.
  Das EVENTRAUM behält sich vor, persönliche Daten in anonymisierter oder statistischer Form zu veröffentlichen.</p>
<h2>4. Rechtswirksamkeit dieses Haftungsausschlusses</h2>
<p>Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.</p>
</body>
</html>