<% provide(:title, "Impressionen") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | EvenTraum</title>
</head>
<body>
<h1>Impressionen</h1>
<div class="span8">
  <ul class="microposts">
    <li>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    </li>
  </ul>
</div>
</body>
</html>
