<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>
    </section>
  </aside>
    <div class="col-md-8">
    <% if @user.microposts.any? %>
        <h2>Impression(en) (<%= @user.microposts.count %>)</h2>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>